<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <header class="navbar fixed-top navbar-light bg-light">
      <nav class="container-lg">
        <a class="navbar-brand" href="/">home</a>
      </nav>
    </header>
    <main class="container-lg pt-5">
        <form class="mx-auto py-4" action="/search" method="GET">
              <label for="animeSearchInput" class="form-label">
                <b>search for anime</b>
              </label>
              <div class="d-flex align-items-center">
                <input 
                    id="animeSearchInput" 
                    type="text" 
                    placeholder="enter anime title" 
                    aria-label="enter anime title" 
                    class="form-control flex-fill" 
                    name="key" 
                >
                <button type="submit" class="btn btn-primary flex-shrink-0">
                  GET EPISODES
                </button>
              </div>
            
        </form>
        <h1>{{.Title}}</h1>
        
        {{embed}}
    </main>

    <!-- Optional JavaScript -->
    <!-- Popper.js first, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
  </body>
</html>