<style>
    .film-list{
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(16rem, 1fr) );
    }
    .item .poster {
        display: block;
        height: 0;
        position: relative;
        padding-bottom: 142%;
        width: 100%;
    }
    .item .name{
      display: inline-block;
      margin: 0.2rem 0;
      padding: 0.2rem 0.4rem;
    }
    .item .poster img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .item {
      padding: 0.3rem 0.2rem;
    }
    .item .inner {
        height: 100%;
        overflow: hidden;
        border-radius: 0.4rem;
        box-sizing: border-box;
        border: 1px solid grey;
    }
    .item .status {
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .item .status>div{
        background-color: #5021c199;
        color: white;
        padding: 0.2rem;
    }

    #animeSearchCard {
      margin-bottom: 6rem;
      padding-bottom: 0.4rem;
    }
</style>
<div class="card p-2" id="animeSearchCard">
  
  <h1>Anime found</h1>
  <div id="animeSearchContainer">
    
  </div>
  <script>
    window.onload=function(){
        // 9 anime has the image src in data-src lets fix that :)
        const container=document.querySelector("#animeSearchContainer");
        const data="{{.AnimeListHTML}}"
        if(data){
            const fixedData=data.replace(/data-src=/g, "src=");
            container.innerHTML=fixedData;

            // fix the anchors so they point to my route 
            const links=container.querySelectorAll("a");
            links.forEach(link=>{
              link.href="/getepisodes?url="+encodeURIComponent(link.href)
            })
        }
        
    }
  </script>
</div>